@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

h1 {
    text-align: center;
}

section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}

nav a {
    padding: 20px;
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid rgb(52, 133, 255)
}

.hide {
    display: none;
}

nav a:hover {
    text-decoration: none;
    color: #616061;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
}

footer {
    text-align: center;
}

@media screen and (min-width: 700px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    .menu-btn {
        display: block;
    }
    nav a {
        display: inline;
        border-top: none;
    }
    nav {
        text-align: center;
    }
    header,
    main,
    footer {
        background-color: rgb(255, 219, 224);
    }
    .hide {
        display: block;
    }
}
          
@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    header,
    main,
    footer {
        background-color: rgb(255, 206, 142);
    }
}
          
