body {
    font-size: 20px;
}

#content {
    max-width: 40%;
    border: 1px solid darkgrey;
    margin: 40px auto;
    padding: 50px;
}

h6 {
    color: #0483d8;
    margin-bottom: 0px;
}

hr {
    width: 500px;
    border-top: 0.5px solid lightgray;
    margin: 0 auto;
}

p {
    font-size: 1.3en;
}

#italic {
    font-style: italic;
}

h1, h6 {
    text-align: center;
}

img {
    width: 50%;
    display: block; 
    margin: 50px auto;
}

#topics {
    line-height: 1.5en;
    margin: 0 auto;
    width: 55%;
}

.list {
    list-style-type: none;
}

li {
    margin-bottom: 20px;
}

select {
    margin: 60px 80px;
    height: 35px;
}