body {
    font-size: 20px;
}

#content {
    max-width: 60%;
    border: 1px solid darkgrey;
    margin: 40px auto;
    padding: 50px;
}

h6 {
    color: #0483d8;
}

p {
    font-size: 1.3en;
}

hr {
    height: 3px;
    width: 80%;
    margin-top: 50px;
}

h1, h6 {
    text-align: center;
}

img {
    width: 50%;
    display: block; 
    margin: 50px auto;
}

#topics {
    line-height: 1.5en;
    margin: 0 auto;
    width: 55%;
}

.list {
    list-style-type: none;
}